*{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
 color:#4c617f;

}

.main{
  width:1200px;
  height:100%;
  
}
.menu{
    background-color: peachpuff;
  }
  .menu h1{
    color:#2f4c54;
  }
  .qty{
    
      width: 90px;
      height: 40px;
      line-height: 33px;
      padding: 3px;
      border:1px solid #ddd;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .plus,.minus{
    cursor: pointer;
  }
  .row{
    border: 1px solid #ddd;
    box-shadow: 1px 1px 15px 5px #dedede;
  }
  .remove{
    margin: 15px;
  }
